
Files/Softwares/Anaconda - Downloads.url
Files/Softwares/cmake-3.12.0-rc2-win64-x64.msi
Files/Softwares/en_visual_studio_community_2015_with_update_3_x86_x64_web_installer_8922963.exe
Files/קישורים/BioMed_Final_Project - GitHub Repo.url
Files/קישורים/‏‏BioMed_Final_Project - Local Repo.lnk
‏‏BioMed_Final_Project - דרופבוקס.lnk
