Files/Code/5_final_product/**/*.jpg

Files/Database/normal_01_n_30fps.mp4
Files/Database/normal_02_n_30fps.mp4
Files/Database/normal_03_n_30fps.mp4
Files/Database/normal_04_n_30fps.mp4
Files/Database/normal_06_n_30fps.mp4
Files/Database/normal_08_n_30fps.mp4
Files/Database/normal_09_n_30fps.mp4
Files/Database/normal_10_n_30fps.mp4
Files/Database/normal_11_n_30fps.mp4
Files/Database/normal_12_n_30fps.mp4
Files/Database/normal_13_n_30fps.mp4
Files/Database/normal_14_n_30fps.mp4
Files/Database/normal_15_n_30fps.mp4
Files/Database/palsy_01_r_30fps.mp4
Files/Database/palsy_02_r_30fps.mp4
Files/Database/palsy_03_r_30fps.mp4
Files/Database/palsy_04_l_25fps.mp4
Files/Database/palsy_06_l_25fps.mp4
Files/Database/palsy_07_r_25fps.mp4
Files/Database/palsy_08_r_30fps.mp4
Files/Database/palsy_09_r_30fps.mp4
Files/Database/palsy_10_r_30fps.mp4
Files/Database/palsy_11_l_30fps.mp4
Files/Database/palsy_12_l_30fps.mp4
Files/Database/palsy_13_l_30fps.mp4
Files/Database/palsy_14_r_30fps.mp4
Files/Database/palsy_15_r_30fps.mp4
Files/Database/palsy_16_l_30fps.mp4
Files/Database/palsy_18_r_30fps.mp4
Files/Database/palsy_19_r_25fps.mp4
Files/Database/webcam_01_n_15fps.mp4
Files/Database/webcam_02_n_15fps.mp4

Files/Softwares
Files/קישורים
‏‏BioMed_Final_Project - דרופבוקס.lnk
